.container {
    background-color: beige;
    margin-bottom: 10px;
    margin-top: 10px;
}

.row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative{
    margin-left: 100px;
}
